.menu{
    background-color: #a8dadc;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    
    height: 50vh; /* Set the height to full viewport height */
    width:50vw;
    margin-left:20px;
  }
  .Menu{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top:150px;
     
    } 
    .Quiz{
       
        background-color: #cdb4db;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       
        align-items: center;
        justify-content: center;
        height: 50vh; /* Set the height to full viewport height */
        width:50vw;
        margin-top: 100px;
       
        margin-left:400px;
        color:#118ab2;
    }
    .questions button{
        display: flex;
        width:100px;
        gap:10px;
       margin-top:10px;
       background-color: white;
       cursor: pointer;
        
    }
    #nextQuestion{
        margin-top: 20px;
        cursor: pointer;
        background: red;
    }
    #nextQuestion button{
        
        background-color: red;
    }
    #startbutton{
        border-radius:5px 5px;
        background-color: #8ecae6;
        padding:5px 5px;
        cursor: pointer;
    }
    .resetquiz{
        background-color: #61dafb;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh; /* Set the height to full viewport height */
        width:50vw;
        margin: 150px;
        margin-left:400px;
        cursor: pointer;
        
    } 
    .resetquiz p{
        font-size:30px;
        color:#03045e;
    }
    #nextQuestion{
        padding:2px 2px;
        border-radius: 5px 5px ;
        background-color: #cdb4db;
        cursor: pointer;
    } 
    .congra{
        color:#007ea7;
    }  
    .Quiz .correct{
        background:#007ea7;
        color:black;
    }
    .Quiz .incorrect {
        background: red;
        color: black;
      }
      .Quiz .black{
        color:black;
      }


    @media only screen and (max-width: 1000px) {
        /* CSS rules for screens smaller than 600 pixels */
        .Quiz{
            /* display: flex;
            flex-direction: column;
            flex-wrap: wrap; */
            display: block;
            justify-content: center;
            align-items: center;
           margin-left: 12px;
            width:100%;
           
            
        }
        .resetquiz
        {
            margin-left: 72px;
           
        }
        .questions{
            margin-left:120px;
        }
      }


    

